		.btn_v01code{
		  font-size: 16px;
            background-color: green;
            color: white;
            border-radius: 3px;
            padding: 5px 10px 5px 10px;
            float: left;
            border: 2px solid #fff;
            font-weight: 700;
		}
		.btn_v01code a{
			width: 100%;
			float: left;
		    height: 100%;
			background: #0b9be4;
			
		}
		.btn_v01code a:hover {
		    background: #0b9be4;
		    color: #fff;
		    text-decoration: none;
		}
		.btn_v01code a:active {
		    background: #0b9be4;
		    color: #fff;
		    text-decoration: none;
		}
		.btn {
			display: none;
			background: #fff;
			color: #3b5998;
			border: 1px solid #3b5998;
			border-radius: 5px;
			padding: 1px;
			margin-top: 5px;
	    position: absolute;
	    right: 5px;
	    cursor: pointer;
		}
		.error {
			padding: 5px 10px;
			border:  1px solid red;
			border-radius: 5px;
			color: red;
			max-width: 280px;
		}

		.captcha {
			display: block;
			    box-sizing: border-box;
			    padding: 5px 10px;
			    font-weight: 700;
			    border: 1px solid green;
			    font-size: 16px;
			    margin-bottom: 10px;
		}